*.OUT
*.LST
/__pycache__/*
*.777
*.csv
!*soils.csv
!dssat_files/cultivars.csv
*.MZ*
!*.MZX
*.WTH
*.pkl
!dssat_files/20210211_205447_dssat_samples_N_1000000_ST_6_D_15_SL_HC_GEN0027_E_1.pkl
*.pickle
*.mp4
*.png
*.INH
*.INP
/dssat_test/*
*.torch
*.zip
*.~lock.*
/env_figs/*
/regret_figs/*
/regret_values/*
/exp_configs/*
*.pdf
*.log
.idea
